<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-python-plain-wordmark colored"></i>
    <i class="devicon-java-plain-wordmark colored"></i>
    <p>I have worked on a variety of projects focusing on Data Science, Natural Language Processing, Bioinformatics, and Machine Learning.  </p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-bitbucket-original-wordmark colored"></i>
    <i class="devicon-visualstudio-plain-wordmark colored"></i>
    <p>I have used these tools in both an intership and classroom setting.</p>
  </div>
</div>