<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="pyLDAVIS" src="{{ "/assets/img/LDAVIS.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Topic Extracion using Machine Learning </h3>
    <ul>
      <li> Python</li>
      <li> Natural Language Processing</li>
      <li> Machine Learning</li>
    </ul>
    <p>I worked on several datasets to preform topic extraction. One was a dataset I built with a team at Outsmart Insight. This many focused on gathering topics from Academic Journal Abstracts to see trends in a certain field.
      Also, for a school project I used the Enron email corpus to get a glance at the main topics employes messaged about.  </p>
  </div>
</div>
